/* ==============================================
.GENERAL
=============================================== */

/* -----------------------------------------------------------------------
  Newsletter styles
------------------------------------------------------------------------- */
.newsletter {
  padding: 0px 110px 170px 0px !important;
}
.newsletter h4,
.newsletter p {
  margin: 0px;
}
.newsletter p {
  padding: 30px 0px;
}
.news-input {
  border: 3px solid #000;
  height: 50px;
  border-right: 0px;
  color: #000;
}
.news-input:focus {
  background: url("../images/pattern.png");
  border: 3px solid #000;
  border-right: 0px;
  outline: none;
  box-shadow: none;
  color: #fff;
}
.news-btn {
  height: 45px;
  border: 3px solid #000;
  font-weight: 700;
  border-left: 4px solid #000;
}
.news-btn:hover {
  border-left: 3px solid #000;
}
.news-text {
  font-size: 16px;
  padding: 20px;
  color: #333;
}
.newsletter .validation {
  border: 3px solid #ff0000;
}
/* -----------------------------------------------------------------------
   4. Features styles
------------------------------------------------------------------------- */
.features {
  padding: 15px 0px 15px 0px !important;
}
.features h4 {
  color: #fff;
}
#features {
  background: url("../images/pattern.png");
  height: 25rem !important;
}
div.open-overlay {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  text-align: center;
  color: #fff;
  border: solid 3px #fff;
  border-radius: 3px;
}
.open-overlay {
  font-size: 28px;
  line-height: 60px;
  width: 60px;
  height: 60px;
  margin-top: -60px;
  margin-left: -30px;
}
.open-overlay i {
  font-size: 40px;
  line-height: 70px;
  z-index: 2;
  margin: 0 auto;
  cursor: inherit;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  color: inherit;
  background: rgba(255, 255, 255, 0);
}
.features-box:hover .open-overlay {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 1);
}
.features-box:hover .open-overlay i {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #444;
  font-weight: bold;
}
.features-box h4 {
  padding-top: 30px;
  text-transform: uppercase;
}
.features-box p {
  color: #bbbbbb;
  margin: 2rem !important;
}
@media (max-width: 1000px) {
  .features-box {
    padding-top: 50px;
    justify-content: space-between;
  }
}
/*-------------------------------------------------------------------*/
/*  5.CONTACT
/*-------------------------------------------------------------------*/
.contact {
  margin-top: 1rem;
  text-align: center;
  padding: 150px 0px;
}
.contact h4 {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 10px;
  color: #000;
  text-transform: uppercase;
}
.contact p {
  color: #534f4f;
  font-size: 16px;
  margin-bottom: 0px;
  padding: 10px 0px 30px 0px;
}
.contact input {
  width: 1800%;
  height: 43px;
  margin-bottom: 20px;
  margin-right: 110px;
  line-height: 20px;
  padding-left: 15px;
  /* padding-right: 3rem !important; */
  font-size: 25px;
  color: #000000;
}
.contact .validation {
  border: 1px solid #ff0000;
}
.contact textarea {
  width: 100%;
  height: 170px;
  margin-bottom: 15px;
  padding: 15px 55px 15px 15px;
  font-size: 15px;
  color: #000000;
  line-height: 28px;
}
textarea {
  resize: none;
  position: relative;
  width: 900px !important;
  margin-left: 0rem;
  margin-right: 0rem;
}
.contact input:focus,
.contact textarea:focus,
.contact input:active,
.contact textarea:active {
  border: 1px solid #000;
  outline: none;
}

.confirm-message {
  margin-top: 20px;
  font-size: 18px;
  color: #000;
  padding: 10px 0 10px;
  text-transform: uppercase;
  display: none;
  text-align: center;
}
.line-separate {
  display: block;
  margin-bottom: 10px !important;
  width: 120px;
  height: 15px;
  position: relative;
  margin: 0 auto;
}
.line-white:before,
.line-white:after {
  background: #000;
}
.line-separate:before {
  content: "";
  display: block;
  position: relative;
  top: 7px;
  width: 49px;
  height: 2px;
  margin: 0 !important;
  float: left;
}
.line-white span {
  box-shadow: inset 0px 0px 0px 2px #000;
}
.line-separate span {
  display: block;
  position: relative;
  width: 17px;
  height: 17px;
  margin: 0 auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.line-separate:after {
  content: "";
  display: block;
  position: relative;
  top: -10px;
  width: 49px;
  height: 2px;
  margin: 0 !important;
  float: right;
}
.social li {
  margin: 0px 20px !important;
  padding: 4rem !important;
}
li.social-btn {
  width: 42px;
  height: 42px;
  margin: 0 auto;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  text-align: center;
  color: #fff;
  border: solid 1px #000;
}
.social-btn {
  font-size: 26px;
  line-height: 30px;
  width: 50px;
  height: 50px;
  margin-top: -60px;
  margin-left: -30px;
}
.social-btn a {
  font-size: 35px;
  line-height: 17px;
  z-index: 2;
  margin: 0 auto;
  cursor: inherit;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  color: inherit;
  background: rgba(255, 255, 255, 0);
}
.social-btn a i {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-left: -0.3em;
  margin-top: -0.1em;
  font-size: 4rem !important;
}
.social-btn a i:last-of-type {
  margin-left: -0.5em !important;
  margin-top: -0.3em !important;
}

#fb {
  border: 2px solid #3b5998;
  color: #3b5998;
}
#fb a {
  color: #3b5998;
}
#fb:hover {
  background-color: #3b5998;
}
#fb:hover a {
  color: #fff;
}
#tw {
  border: 2px solid #00aced;
  color: #00aced;
}
#tw a {
  color: #00aced;
}
#tw:hover {
  background-color: #00aced;
}
#tw:hover a {
  color: #fff;
}
#flk {
  border: 2px solid #ff0084;
  color: #ff0084;
}
#flk a {
  color: #ff0084;
}
#flk:hover {
  background-color: #ff0084;
}
#flk:hover a {
  color: #fff;
}
#tbl {
  border: 2px solid #32506d;
  color: #32506d;
}
#tbl a {
  color: #32506d;
}
#tbl:hover {
  background-color: #32506d;
}
#tbl:hover a {
  color: #fff;
}
#pin {
  border: 2px solid #cb2027;
}
#pin a {
  color: #cb2027;
}
#pin:hover {
  background-color: #cb2027;
}
#pin:hover a {
  color: #fff;
}

/* .footer {
  padding-bottom: 5px;
} */
.copyright {
  padding-top: 5px;
}
