
body {
  background: #eee;
  margin: 0;
  
}
main {
  
}
.img {
  background: url("https://i.ibb.co/q10hRW1/Screen-Shot-2019-04-15-at-10-51-54-PM.png") no-repeat 100%/cover;
  height: 280px;
  border-radius: 4px;
}





