*,
*:after,
*:before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #263238;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff3d00;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

.loginContent {
  position: relative;
}
.loginContent0 {
  padding: 1rem !important;
}
#login {
  display: flex;
  padding-left: 10rem;
}
.loginContent ul li {
  padding: 2rem;
}
.loginContent0 ul li {
  padding: 2rem;
  font-size: 3rem;
}
.loginContent ul li a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}
.loginContent0 ul li a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  /* text-transform: uppercase; */
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.loginContent a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}
.loginContent0 a:hover {
  /* background: #000000; */
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #f43b03, 0 0 25px #d83808, 0 0 50px #f40303,
    0 0 100px #eb2113;
}

.loginContent a span {
  position: absolute;
  display: block;
}
.loginContent0 a span {
  position: absolute;
  display: block;
}

.loginContent a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}
.loginContent0 a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  /* background: linear-gradient(90deg, transparent, #03e9f4); */
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.loginContent a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}
.loginContent0 a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  /* background: linear-gradient(180deg, transparent, #03e9f4); */
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.loginContent a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}
.loginContent0 a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  /* background: linear-gradient(270deg, transparent, #03e9f4); */
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.loginContent a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}
.loginContent0 a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  /* background: linear-gradient(360deg, transparent, #03e9f4); */
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

/* img de promotions  */
#promotion1 {
  display: flex;
  flex-wrap: wrap;
  width: 230px;
  height: 190px;
  justify-content: center;
}
/* .promotion2 {
  display: flex;
  flex-wrap: wrap;
} */
.portfolio1 img {
  size: center;
  overflow: -moz-hidden-unscrollable;
  justify-items: center;
  padding: 0;
  border-radius: 0 5%;
}
.portfolio1 img:hover {
  /* size: center; */
  cursor: pointer;
  /* overflow: hidden; */
  justify-items: center;
  justify-content: center;
  position: -webkit-sticky;
  margin: 1rem;
  top: 5px;
  transition: 1s ease;
  border-radius: 0 5%;
  box-shadow: 1rem 1rem 3rem 3rem #03e9f4;
  opacity: 1000%;
  visibility: 1000%;
}
.portfolio1 img:not(hover) {
  /* size: center; */
  cursor: pointer;
  /* overflow: hidden; */
  justify-items: center;
  justify-content: center;
  position: -webkit-sticky;
  margin: 0rem;
  top: 0px;
  opacity: 80%;
  visibility: 85%;
  transition: 3s ease;
  border-radius: 0 5%;
}
.portfolio1 img::after {
  /* size: center; */
  cursor: pointer;
  /* overflow: hidden; */
  justify-items: center;
  justify-content: center;
  position: -webkit-sticky;
  margin: 0rem;
  top: 0px;
  transition: 3s ease;
  border-radius: 0 5%;
}

#img1 {
  width: auto;
  /* height: 500px; */
}
.nav-item ul li {
  content: "\e8b9";
  padding: 1rem;
}
.nav-item ul li a {
}
#img {
  border-radius: 0 10%;
}
#img:hover {
  cursor: pointer;
  border-radius: 0 10%;
  top: 2rem;
  position: sticky;
  transition: 2s;
  opacity: 70%;
}
#img::before {
  border-radius: 0 10%;
  transition: 2s;
  opacity: 1000%;
}
#img:active {
  border-radius: 0 10%;
  top: 2rem;
  position: sticky;
  transition: 2s;
  opacity: 76%;
}
#ing:not(:active) {
  border-radius: 0 10%;
  transition: 2s;
  opacity: 1%;
  visibility: 1%;
}
.text-center {
  height: 1rem;
}
/* 
<!-- =========================
                 CONTACT
        ========================== -->
*/
.confirm-message {
  justify-content: space-around;
  position: absolute !important;
}
#contact_name {
  max-width: max-content;
  min-width: min-content;
  margin-right: 2rem;
  padding: 2rem;
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace, sans-serif;
}
#contact_email {
  max-width: max-content;
  min-width: min-content;
  margin-left: 2rem;
  padding: 2rem;
}
#contact_message {
  width: 400px;
  padding: 4rem;
  font-size: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#contact_submit_btn {
  box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem #0b0e0f;
}

/* 
<!-- =========================
                 FEATURES
        ========================== -->
 */
.smart-servive {
  pointer-events: visible;
  position: absolute;
  /* flex-wrap: wrap !important; */
}
.open-overlay p {
  margin: 2rem;
}
