@import url("https://fonts.googleapis.com/css?family=Dosis&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-style: italic;
}
html,
body {
  height: 100%;
}
body {
  font-weight: bolder;
  transition: 0.2s linear;
  font-family: "Dosis", sans-serif;
  color: #333;
  border-radius: 10% 10%;
  display: grid;
  place-items: center;
}
header {
}

.container {
  padding: 10px;
  margin: 2rem auto;
  display: flex;
}
.container.title {
  background: #222;
}
.subcribe {
  display: flex;
}
.loginContent {
  justify-content: flex-end;
}
.loginContent ul {
  list-style: none;
}
.loginContent ul li a {
  text-decoration: none;
  margin: 2rem;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 30% 30%;
}
#login {
  padding: 10px;
  display: flex;
  border-radius: 15% 15%;
}

/* p {
  color: #09fbba;
} */

#offre {
  display: flex;
}

/* DARK MODE */
.dark {
  background: #333;
}
.dark p a h6 h3 {
  color: #09fbba;
}
.dark p {
  color: #09fbba;
}
.dark .label {
  box-shadow: 2px 1px 1px #09fbba;
  background: #888;
}
.dark .ball {
  background: #09fbba;
}
/*toggle*/
.toggle {
  position: absolute;
  right: 2rem;
  top: 2rem;
}
.checkbox {
  display: none;
}
.label {
  height: 26px;
  width: 50px;
  background: rgb(182, 182, 182);
  padding: 5px 8px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transform: scale(1.2);
  box-shadow: 2px 1px 1px #333;
}
.label .ball {
  background: #eee;
  border-radius: 50%;
  height: 26px;
  width: 26px;
  position: absolute;
  top: 5px;
  left: 6px;
  transform: translateX(0px);
  transition: transform 0.4s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}
.checkbox:checked + .label .ball {
  transform: translateX(29px);
}
.fa-moon {
  color: #333;
}

/* promotion of products */

.page-content {
  display: grid;
  border-radius: 15px;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .card {
    height: 350px;
  }
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.009) 11.7%,
    rgba(0, 0, 0, 0.034) 22.1%,
    rgba(0, 0, 0, 0.072) 31.2%,
    rgba(0, 0, 0, 0.123) 39.4%,
    rgba(0, 0, 0, 0.182) 46.6%,
    rgba(0, 0, 0, 0.249) 53.1%,
    rgba(0, 0, 0, 0.32) 58.9%,
    rgba(0, 0, 0, 0.394) 64.3%,
    rgba(0, 0, 0, 0.468) 69.3%,
    rgba(0, 0, 0, 0.54) 74.1%,
    rgba(0, 0, 0, 0.607) 78.8%,
    rgba(0, 0, 0, 0.668) 83.6%,
    rgba(0, 0, 0, 0.721) 88.7%,
    rgba(0, 0, 0, 0.762) 94.1%,
    rgba(0, 0, 0, 0.79) 100%
  );
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.card:nth-child(1):before {
  background-image: url(/UPHUB/2.png);
}
.card:nth-child(2):before {
  background-image: url(/UPHUB/5.jpg);
}
.card:nth-child(3):before {
  background-image: url(/UPHUB/1.png);
}
.card:nth-child(4):before {
  background-image: url(/UPHUB/4.jpg);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
.btn:hover {
  background-color: #0d0d0d;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card:hover,
  .card:focus-within {
    align-items: center;
  }
  .card:hover:before,
  .card:focus-within:before {
    transform: translateY(-4%);
  }
  .card:hover:after,
  .card:focus-within:after {
    transform: translateY(-50%);
  }
  .card:hover .content,
  .card:focus-within .content {
    transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
  .card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before,
  .card:focus-within:after,
  .card:focus-within .content,
  .card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}

/* SIGNATURE */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap");

.signature {
  display: flex;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background: rgba(51, 51, 51, 0.808);
  padding: 0.5rem 0.5rem;
  border-radius: 50px;
  box-shadow: 0 0 0px 3px rgb(9, 251, 186);
  color: rgb(9, 251, 186);
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
  cursor: pointer;
}
.signature:hover {
  transform: translateX(3px);
  background: linear-gradient(
    90deg,
    rgba(51, 51, 51, 0.808) 30%,
    rgba(100, 100, 100, 0.808) 100%
  );
  transition: 0.3s ease;
  box-shadow: 0 0 0px 3px rgb(79, 250, 204);
  color: rgb(79, 250, 204);
}
.signature:focus {
  outline: none;
}
.signature .flag {
  height: 13px;
  width: 22px;
  background: linear-gradient(90deg, blue 36%, white 36%, white 67%, red 67%);
  box-shadow: inset 2px 2px 2px #222, 2px 2px 1px #222;
  margin-right: 6px;
  transform: translateY(3px);
}
.signature h3 {
  margin: 0;
}
.signature i {
  font-size: 1.1rem;
  text-shadow: 2px 2px 1px #222;
  transform: translateY(2px);
}
