header
  a.brand(href="https://vineethtrv.github.io/loader/") L &nbsp; ader
  a.nav-btn(href="https://vineethtrv.github.io/loader/") Github Page

- for(var i = 1; i < 109; i++)
    section
      span(class='loader-' + i) 
      
section
  span(class="loader-109") Loading       
section
  span(class="loader-110") Loading      
section
  span(class="loader-111") Loading      
section
  span(class="loader-112") L &nbsp; ading      
section
  span(class="loader-113") Load&nbsp;ng      
section
  span(class="loader-114") Load&nbsp;ng      
section
  span(class="loader-115") Loading      
section
  span(class="loader-116") Load&nbsp;ng      
section
  span(class="loader-117") Load&nbsp;ng      
section
  span(class="loader-118")      
section
  span(class="loader-119") Loading      
section
  span(class="loader-120") Loading
  
- for(var i = 121; i < 127; i++)
    section
      span(class='loader-' + i) 